#textdomain wesnoth-Fate_of_a_Princess
[textdomain]
    name="wesnoth-Fate_of_a_Princess"
    path="data/add-ons/Fate_of_a_Princess/translations"
[/textdomain]
[campaign]
    id=Fate_of_a_Princess
    name= _ "Fate of a Princess"
    abbrev= _ "FoaP"
    define=CAMPAIGN_FATE_OF_A_PRINCESS
    extra_defines=DISABLE_GRAND_MARSHAL,ENABLE_ARMAGEDDON_DRAKE 
       
    icon="units/elves-wood/hero-melee-1.png~RC(magenta>blue)"
    image=data/add-ons/Fate_of_a_Princess/images/foap-campaign-image.png 

    difficulty_descriptions={MENU_IMG_TXT2 "units/human-loyalists/cavalryman-defend.png~RC(magenta>red)" _"Lieutenant" _"(easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/human-loyalists/dragoon-defend.png~RC(magenta>red)" _"Major" _"(normal)"} +
    ";" + {MENU_IMG_TXT2 "units/human-loyalists/cavalier-defend.png~RC(magenta>red)" _"Colonel" _"(hard)"}

    first_scenario=01_Time_to_Leave
    
    difficulties=EASY,NORMAL,HARD   
    description= _ "Part I: Baldres, a notorious robber baron, flees Wesnoth with his followers and sets off into the northlands to evade the king’s justice. The baron’s deeds and misdeeds are to change the balance of power between orcs and non-orcs throughout the northlands, and will carry consequences long after his eventual death.
Part II: The Greenwood elves face a crisis which demands the return of the queen’s estranged half-elven half-sister, Baldres’ daughter. Two brave young elves must make a perilous journey to find her and bring her back to her former home. If they fail, the whole northlands will be engulfed in war with the resurgent orcs...
Fate of a Princess, version: " + " 0.9.19" + _ "
Required Wesnoth version: "+ _ "1.9.12" + _ " or later.
 
This is a two-part campaign (considered as expert level) with 26-29 scenarios depending on the path chosen. Some scenarios are dialogue-only. 

Feedback on all aspects of the campaign will be gratefully received."
    
    
    ##:: Credits
    [about]
        title= _ "Campaign Design"
        [entry]
            name="Sonny T Yamada (SkyOne)"
        [/entry]
    [/about]
    [about]
        title= _ "Co-design"
        [entry]
            name="(mich)"
        [/entry]
    [/about]
    [about]
        title= _ "Co-author"
        [entry]
            name="(Simons Mith)"
        [/entry]
    [/about]
    [about]
        title= _ "Special Guest"
        [entry]
            name="(Turuk) as Turuk"
        [/entry]
    [/about]
    [about]
        title= _ "French Translation"
        [entry]
            name="(pyrophorus)"
        [/entry]
    [/about]
    [about]
        title= _ "Hungarian Translation"
        [entry]
            name="(kele)"
        [/entry]
    [/about]
    [about]
        title= _ "Italian Translation"
        [entry]
            name="(mich)"
        [/entry]
    [/about]
    [about]
        title= _ "Japanese Translation"
        [entry]
            name="(SkyOne)"
        [/entry]
    [/about]
    [about]
        title= _ "Contributions – Music"
        [entry]
            name="The High King’s March: Mattias Westlund (West)
Used in Striking Back, Battle at Prestim and Over the River"
        [/entry]
    [/about]
    [about]
        title= _ "Contributions - Units"
        [entry]
            name="Unicorns (Fmunoz)"
        [/entry]
        [entry]
            name="Orcish Berserker (inferno8)"
        [/entry]
        [entry]
            name="Base unit for Child, Young, and Royal Sorceress: (Madnessbane/mindrot)"
        [/entry]
    [/about]
    [about]
        title= _ "Contributions - Images"
        [entry]
            name="horn-white.png, horn-glowing.png: (Fmunoz)"
        [/entry]
        [entry]
            name="heavenly fire halo, lightfocus.png: (inferno8)"
        [/entry]
        [entry]
            name="drake snowy villages, chaos-rune.png: (Neilarmius)"
        [/entry]
        [entry]
            name="elder-shaman.png, novice-shaman.png: (thespaceinvader)"
        [/entry]
    [/about]
    [about]
        title= _ "Contributions - WML"
        [entry]
            name="heavenly fire attack: (inferno8)"
        [/entry]
        [entry]
            name="resolving duplicate overlays on units: Jan Slupski (VersD)"
        [/entry]
    [/about]
    [about]
        title= _ "Technical Adviser"
        [entry]
            name="Nathanael D Schmolze (opensourcejunkie)"
        [/entry]
    [/about]
    [about]
        title= _ "Forum Support and Feedback"
        [entry]
            name="Aurélien Brevers (breversa)"
        [/entry]
        [entry]
            name="(perseo)"
        [/entry]
        [entry]
            name="(taptap)"
        [/entry]
    [/about]
    [about]
        title= _ "Art Work Support"
        [entry]
            name="(Kraus)"
        [/entry]
    [/about]
    [about]
        title= _ "Special Thanks"
        [entry]
            name="(Turuk)"
        [/entry]
    [/about]
    [about]
        title= _ "Special Thanks"
        [entry]
            name="Eric Langlois"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_FATE_OF_A_PRINCESS

    [binary_path]
        path=data/add-ons/Fate_of_a_Princess
    [/binary_path]
    
    {~add-ons/Fate_of_a_Princess/utils}
    {~add-ons/Fate_of_a_Princess/terrains}

    [+units]
        {~add-ons/Fate_of_a_Princess/units}
        {~add-ons/Fate_of_a_Princess/units/heroes}
        {~add-ons/Fate_of_a_Princess/units/dummies}
        {~add-ons/Fate_of_a_Princess/foap-race.cfg}
    [/units]

    {~add-ons/Fate_of_a_Princess/scenarios}
#endif

#ifdef EDITOR
    [binary_path]
        path=data/add-ons/Fate_of_a_Princess
    [/binary_path]

    [editor_group]
        id=foap
        name= _ "Fate of a Princess"
        icon="group_custom"
    [/editor_group]
    {~add-ons/Fate_of_a_Princess/terrains}
#endif