#textdomain wesnoth-Fate_of_a_Princess
[unit_type]
    id=Forester
    name= _ "Forester"
    race=human
    gender=male,female
    image="units/humans/forester.png"
    ellipse="misc/ellipse"
    profile="portraits/humans/transparent/woodsman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=woodland
    [movement_costs]
        cave=2
    [/movement_costs]
    [resistance]
        arcane=80
    [/resistance]
    [defense]
        swamp_water=50
        forest=50
        sand=60
    [/defense]
    movement=5
    experience=42
    level=1
    alignment=neutral
    advances_to=Vanguard
    cost=15
    usage=archer
    description= _ "Foresters are lightly-armed human fighters, trained to move long distances quickly while needing little forage to support them. Like the woodsman and poacher, they are particularly skilled at forest movement."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/humans/forester-defend.png" "units/humans/forester.png" {SOUND_LIST:HUMAN_HIT}}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/woodsman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/woodsman.png"
    [/portrait]
    [attack]
        name=short sword
        description= _ "shortsword"
        type=blade
        range=melee
        damage=5
        number=2
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        type=pierce
        range=ranged
        damage=6
        number=3
        icon=attacks/bow.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/humans/forester.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=50
                image="units/humans/forester-melee.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=50
                image="units/humans/forester-melee.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/humans/forester.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-400
                end=-250
                image="units/humans/forester-attack1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-400
                end=-250
                image="units/humans/forester-attack1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-250
            end=-100
            image="units/humans/forester-attack2.png"
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/humans/forester-attack3.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/humans/forester.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Forester"
        gender=female
        image="units/humans/forester+female.png"
        {DEFENSE_ANIM "units/humans/forester+female-defend.png" "units/humans/forester+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        [attack_anim]
            [filter_attack]
                name=short sword
            [/filter_attack]
            [frame]
                image="units/humans/forester+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/humans/forester+female-melee.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/forester+female-melee.png"
                [/frame]
            [/else]
            [frame]
                image="units/humans/forester+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=bow
            [/filter_attack]
            [if]
                [frame]
                    image="units/humans/forester+female-attack1.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/forester+female-attack1.png"
                [/frame]
            [/else]
            [frame]
               image="units/humans/forester+female-attack2.png"
            [/frame]
            [frame]
                image="units/humans/forester+female-attack3.png"
            [/frame]
            [frame]
                image="units/humans/forester+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
